<h3><%= facet_field_labels[solr_field] -%></h3>
<div class="limit_content range_limit">  
  <% if  params["range"] &&
         params["range"][solr_field] &&
       ( params["range"][solr_field]["begin"] ||
         params["range"][solr_field]["end"] ) %>
    <div class="current">
      <span class="selected"><%= params["range"][solr_field]['begin'] %> to <%= params["range"][solr_field]['end'] %></span> (<%= @response.total %>) [<%= link_to "remove", remove_range_param(solr_field), :class=>"remove" %>]
    </div>
         
  <% end %>


  <% form_tag catalog_index_path, :method => :get, :class=>"range_limit range_#{solr_field}" do %>
    <%= search_as_hidden_fields %>
    
    <!-- we need to include a dummy search_field parameter if none exists,
         to trick blacklight into displaying actual search results instead
         of home page. Not a great solution, but easiest for now. -->
    <% unless params.has_key?(:search_field) %>
      <%= hidden_field_tag("search_field", "dummy_range") %>
    <% end %>
    
    <%= render_range_input(solr_field, :begin) %> - <%= render_range_input(solr_field, :end) %>
    <%= submit_tag 'Limit', :class=>'submit ui-state-default ui-corner-all' %>
  
  <% end %>
  
  <!-- you can hide this if you want, but it has to be on page if you want
       JS slider and calculated facets to show up, JS sniffs it. -->
  <div class="profile">
    <% if stats = stats_for_field(solr_field) %>
      <div class="range">
        Current results range from <span class="min"><%= stats["min"].to_s.gsub(/\.0+/, '') %></span> to <span class="max"><%= stats["max"].to_s.gsub(/\.0+/, '') %></span>
      </div>
      <% if stats["missing"] > 0%>
        <div class="missing">
          Unknown <%= facet_field_labels[solr_field].downcase %> (<%= stats["missing"] %>)
        </div>
      <% end %>
    <% end %>
  </div>
  
</div>
 
