<%= render(@layout.new(facet_field: @facet_field)) do |component| %>
  <% component.label do %>
    <%= @facet_field.label %>
  <% end %>

  <% component.body do %>
    <div class="limit_content range_limit <%= @facet_field.key %>-config blrl-plot-config">
      <% if @facet_field.selected_range %>
        <%= render BlacklightRangeLimit::RangeSegmentsComponent.new(facet_field: @facet_field, facet_items: [Blacklight::Solr::Response::Facets::FacetItem.new(value: @facet_field.selected_range, hits: @facet_field.response.total)], classes: ['current']) %>
      <% end %>

      <!-- no results profile if missing is selected -->
      <% if @facet_field.selected_range != Blacklight::SearchState::FilterField::MISSING %>
        <!-- you can hide this if you want, but it has to be on page if you want
             JS slider and calculated facets to show up, JS sniffs it. -->
        <div class="profile">
          <% if (min = @facet_field.min) &&
                (max = @facet_field.max) %>

            <% if range_config[:segments] != false %>
              <div class="distribution subsection <%= 'chart_js' unless range_config[:chart_js] == false %>">
                <!-- if  we already fetched segments from solr, display them
                     here. Otherwise, display a link to fetch them, which JS
                     will AJAX fetch.  -->
                <% if @facet_field.range_queries.any? %>
                  <%= render BlacklightRangeLimit::RangeSegmentsComponent.new(facet_field: @facet_field) %>
                <% else %>
                  <%= link_to(t('blacklight.range_limit.view_distribution'), range_limit_url(range_start: min, range_end: max), class: "load_distribution") %>
                <% end %>
              </div>
            <% end %>
            <p class="range subsection <%= "slider_js" unless range_config[:slider_js] == false %>">
              <%= t('blacklight.range_limit.results_range_html', min: min, max: max) %>
            </p>
          <% end %>
        </div>

        <%= form_tag search_action_path, method: :get, class: [@classes[:form], "range_#{@facet_field.key} d-flex justify-content-center"].join(' ') do %>
          <%= render Blacklight::HiddenSearchStateComponent.new(params: @facet_field.search_state.params_for_search.except(:utf8, :page)) %>

          <div class="input-group input-group-sm mb-3 flex-nowrap range-limit-input-group">
            <%= render_range_input(:begin, begin_label) %>
            <%= render_range_input(:end, end_label) %>
            <div class="input-group-append visually-hidden">
              <%= submit_tag t('blacklight.range_limit.submit_limit'), class: @classes[:submit] %>
            </div>
            <%= submit_tag t('blacklight.range_limit.submit_limit'), class: @classes[:submit] + " sr-only", "aria-hidden": "true" %>
          </div>
        <% end %>

        <%= more_link(key: @facet_field.key, label: @facet_field.label) unless @facet_field.in_modal? %>

        <% if @facet_field.missing.positive? && !request.xhr? %>
          <%= render BlacklightRangeLimit::RangeSegmentsComponent.new(facet_field: @facet_field, facet_items: [Blacklight::Solr::Response::Facets::FacetItem.new(value: Blacklight::SearchState::FilterField::MISSING, hits: @facet_field.missing)], classes: ['missing', 'subsection']) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
